@(userForm: Form[User])
@import helper._

@layout("Register") {

<div class="row">
    <div class="col-lg-6 col-sm-12 container">
        <h2>Create an Account</h2>
        <hr/>
        @helper.form(action=helper.CSRF(routes.LoginController.createUser())){
        @helper.inputText(userForm("username"), 'class->"form-control",'_label->"Username",'_showConstraints -> false)
        @helper.inputPassword(userForm("password"), 'class->"form-control",'_label->"Password", '_showConstraints -> false)
        @helper.inputPassword(userForm("password"), 'class->"form-control",'_label->"Confirm Password", '_showConstraints -> false)

        <div class="form-group row">
            <div class="col-sm-4">
                <button type="submit" class="btn">Create Account</button>
            </div>
            <!--
            <div class="col-sm-8">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox">
                    <label class="form-check-label">
                        Remember me
                    </label>
                </div>
            </div>
            -->
        </div>
        <a href="@routes.LoginController.index()">Cancel</a>
        }
    </div>
</div>
}
